@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Coming+Soon&family=Lato&family=Lora:wght@600&family=Metal+Mania&family=Poppins:wght@100;400&family=Roboto&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=VT323&family=Volkhov&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex&family=Coming+Soon&family=Lato&family=Lora:wght@600&family=Metal+Mania&family=Poppins:wght@100;400&family=Roboto&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&family=VT323&family=Volkhov&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Caudex", sans-serif;
  overflow-x: hidden;
}

.header-container .hamburger {
  visibility: hidden;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000;
  width: 100%;
  height: 320px;
  z-index: 10;
}
.header-container .hamburger .open-menu {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #FFFFFF;
  font-size: 40px;
  transition: all 0.5;
  cursor: pointer;
}
.header-container .hamburger .close-menu {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1000;
  color: #FFFFFF;
  font-size: 40px;
  transition: all 0.5;
  cursor: pointer;
}
.header-container .hamburger ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 20px 20px 0;
  height: 300px;
  gap: 22px;
}
.header-container .hamburger ul li {
  list-style: none;
  transition: all 0.5;
}
.header-container .hamburger ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.header-container .hamburger ul li .homeBorder {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}
.header-container .hamburger ul li:hover a {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}
.header-container .header-BG {
  min-height: 150vh;
  position: relative;
  transform: translateX(-160px) translateY(-50px);
}
.header-container .logo {
  position: absolute;
  top: 25px;
  left: 47%;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 36px;
  cursor: pointer;
  z-index: 100;
}
.header-container .nav ul {
  position: absolute;
  top: 93px;
  left: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.header-container .nav ul li {
  list-style: none;
  transition: all 0.5;
}
.header-container .nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.header-container .nav ul li .homeBorder {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}
.header-container .nav ul li:hover a {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}
.header-container .header-text {
  position: absolute;
  top: 280px;
  left: 20%;
  color: #FFFFFF;
  font-size: 6.7rem;
  max-width: 1000px;
  text-align: center;
}
.header-container .icons {
  position: absolute;
  top: 840px;
  left: 570px;
  color: #FFFFFF;
  font-size: 25px;
}
.header-container .icons i {
  margin: 16px;
  transition: all 0.5;
  cursor: pointer;
}
.header-container .icons i:hover {
  color: #cfcfcf;
}

.memories {
  transition: all 3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 90px 0 150px 0;
}
.memories .memories-img img {
  width: 600px;
}
.memories .memories-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.memories .memories-text .memories-text-title {
  font-weight: 100;
  font-size: 4rem;
  width: 400px;
  color: #171818;
}
.memories .memories-text .memories-text-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #171818;
  width: 380px;
  line-height: 25px;
}
.memories .memories-text .memories-text-button {
  font-family: "Roboto", sans-serif;
  padding: 14px 32px;
  font-size: 16px;
  color: #171818;
  border: 1px solid #171818;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.memories .memories-text .memories-text-button:hover {
  color: #FFFFFF;
  background-color: #171818;
}

.slider {
  max-width: 100%;
  height: 140vh;
  background-color: #f6f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}
.slider .slider-title {
  margin-top: 100px;
  font-size: 60px;
  font-weight: 100;
  color: #171818;
}
.slider .slider-cards {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.slider .slider-cards .left-arrow {
  position: absolute;
  top: 180px;
  left: 60px;
  font-size: 50px;
  background-color: #171818;
  color: #f6f5f5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
.slider .slider-cards .right-arrow {
  position: absolute;
  top: 180px;
  right: 60px;
  font-size: 50px;
  background-color: #171818;
  color: #f6f5f5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px;
}
.slider .slider-cards .card {
  margin: 0 40px 0 40px;
}
.slider .slider-cards .card .card-title, .slider .slider-cards .card .card-description {
  margin-top: 20px;
}
.slider .slider-cards .card .card-title, .slider .slider-cards .card .card-description {
  color: #171818;
}
.slider .slider-cards .card .card-img {
  width: 500px;
}
.slider .slider-cards .card .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 28px;
}
.slider .slider-cards .card .card-title h3 {
  font-weight: 100;
}
.slider .slider-cards .card .card-description {
  width: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.kids {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 90px 0 20px 0;
}
.kids .kids-img img {
  width: 600px;
}
.kids .kids-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.kids .kids-text .kids-text-title {
  font-weight: 100;
  font-size: 4rem;
  width: 460px;
  color: #171818;
}
.kids .kids-text .kids-text-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #171818;
  width: 380px;
  line-height: 25px;
}

.chef {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 0 50px 0;
}
.chef .chef-img img {
  width: 500px;
}
.chef .chef-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.chef .chef-text .chef-text-title {
  font-weight: 100;
  font-size: 4rem;
  width: 450px;
  color: #171818;
}
.chef .chef-text .chef-text-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #171818;
  width: 390px;
  line-height: 25px;
}

.dog {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 0 150px 0;
}
.dog .dog-img img {
  width: 500px;
}
.dog .dog-text {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.dog .dog-text .dog-text-title {
  font-weight: 100;
  font-size: 4rem;
  width: 500px;
  color: #171818;
}
.dog .dog-text .dog-text-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #171818;
  width: 390px;
  line-height: 25px;
}

.book {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  max-width: 100%;
  height: 90vh;
  background-color: #f6f5f5;
}
.book .book-title {
  font-weight: 100;
  font-size: 4rem;
  color: #171818;
}
.book .book-descriptin {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #171818;
  width: 390px;
  line-height: 25px;
  text-align: center;
}
.book .book-button {
  font-family: "Roboto", sans-serif;
  margin-top: 30px;
  padding: 14px 32px;
  font-size: 16px;
  color: #171818;
  border: 1px solid #171818;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
}
.book .book-button:hover {
  color: #FFFFFF;
  background-color: #171818;
}

.login {
  position: absolute;
  top: 3500;
  left: 30%;
  visibility: hidden;
  background-color: #171818;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
  gap: 30px;
  padding: 0 40px;
  margin-top: 0px;
}
.login i {
  cursor: pointer;
  font-size: 50px;
  color: #f6f5f5;
  text-align: end;
  width: 100%;
  margin: 5px 0 0 0;
}
.login h2 {
  font-weight: 100;
  font-size: 2.5rem;
  color: #f6f5f5;
  padding: 0 10px;
}
.login div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.login div label {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #f6f5f5;
}
.login div input {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  padding: 10px 170px 10px 8px;
  font-size: 16px;
}

.footer {
  background-color: #171818;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-items-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  gap: 28px;
}
.footer .footer-items-left .footer-logo {
  color: #ffffff;
  font-weight: 100;
  font-size: 60px;
}
.footer .footer-items-left .footer-icons {
  color: #ffffff;
  font-size: 25px;
}
.footer .footer-items-left .footer-icons i {
  margin: 8px;
  transition: all 0.5;
  cursor: pointer;
}
.footer .footer-items-left .footer-icons i:hover {
  color: #cfcfcf;
}
.footer .footer-items-right {
  padding-left: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  color: #ffffff;
}
.footer .footer-items-right div h2 {
  font-weight: 100;
  font-size: 30px;
  margin-bottom: 20px;
}
.footer .footer-items-right div h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 25px;
}
.footer .footer-items-right div .underline {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 1px;
  cursor: pointer;
}

.visibility {
  visibility: visible !important;
  opacity: 1 !important;
}

.opacity-hidden {
  opacity: 0;
}

.opacity-visible {
  opacity: 1;
}

.displaynone {
  display: none;
}

.translateX {
  transform: translateX(400px);
}

.translate-X {
  transform: translateX(-400px);
}

@media only screen and (max-width: 1000px) {
  .header-container .header-BG {
    max-width: 100%;
    max-height: 95vh;
    min-height: 10vh;
    transform: translateX(0px) translateY(0px);
  }
  .header-container .open-menu {
    visibility: visible;
  }
  .header-container .nav {
    visibility: hidden;
  }
  .header-container .logo {
    top: 25px;
    left: 20px;
    font-size: 30px;
  }
  .header-container .header-text {
    top: 20%;
    left: 30%;
    font-size: 3rem;
    max-width: 400px;
  }
  .header-container .icons {
    top: 50%;
    left: 42%;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 980px) {
  .memories .memories-img img {
    width: 450px;
  }
  .kids .kids-img img {
    width: 450px;
  }
  .chef .chef-img img {
    width: 400px;
  }
  .dog .dog-img img {
    width: 400px;
  }
}
@media only screen and (max-width: 980px) {
  .memories {
    flex-direction: column;
    gap: 30px;
  }
  .memories .memories-img img {
    width: 400px;
  }
  .memories .memories-text {
    width: 400px;
  }
  .memories .memories-text .memories-text-title {
    font-size: 2rem;
    width: 250px;
  }
  .slider {
    max-width: 100%;
    height: 110vh;
    gap: 40px;
  }
  .slider .slider-title {
    margin-top: 50px;
    font-size: 30px;
  }
  .slider .slider-cards {
    flex-direction: column;
  }
  .slider .slider-cards i {
    visibility: hidden;
  }
  .slider .slider-cards .card {
    margin: 20px 0 20px 0;
  }
  .slider .slider-cards .card .card-title,
.slider .slider-cards .card .card-description {
    margin-top: 5px;
  }
  .slider .slider-cards .card .card-img {
    width: 400px;
  }
  .kids {
    flex-direction: column;
    gap: 30px;
  }
  .kids .kids-img img {
    width: 400px;
  }
  .kids .kids-text {
    gap: 20px;
    width: 400px;
  }
  .kids .kids-text .kids-text-title {
    font-size: 2rem;
    width: 320px;
  }
  .chef {
    height: 130vh;
    flex-direction: column;
    position: relative;
    margin-top: 50px;
  }
  .chef .chef-img {
    position: absolute;
    top: 250px;
  }
  .chef .chef-img img {
    width: 400px;
  }
  .chef .chef-text {
    position: absolute;
    top: 20px;
    width: 400px;
    gap: 30px;
  }
  .chef .chef-text .chef-text-title {
    font-size: 2rem;
    width: 450px;
  }
  .dog {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  .dog .dog-img img {
    width: 400px;
  }
  .dog .dog-text {
    width: 400px;
    gap: 30px;
  }
  .dog .dog-text .dog-text-title {
    font-size: 2rem;
    width: 330px;
  }
  .book {
    gap: 30px;
    height: 60vh;
  }
  .book .book-title {
    font-size: 2.5rem;
  }
  .book .book-descriptin {
    font-size: 16px;
    width: 340px;
  }
  .footer {
    height: 140vh;
    flex-direction: column;
    gap: 40px;
  }
  .footer .footer-items-left {
    width: 100%;
    gap: 28px;
  }
  .footer .footer-items-left .footer-logo {
    font-size: 40px;
  }
  .footer .footer-items-left .footer-icons {
    color: #ffffff;
    font-size: 22px;
  }
  .footer .footer-items-right {
    padding-left: 0px;
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }
  .footer .footer-items-right div h2 {
    font-size: 28px;
    margin-bottom: 14px;
  }
  .footer .footer-items-right div h4 {
    font-size: 14px;
  }
  .login {
    margin-top: 0px;
    height: 60vh;
    gap: 10px;
  }
  .login h2 {
    font-size: 1.5rem;
  }
  .login i {
    margin: 0px;
  }
  .login div {
    gap: 5px;
  }
  .login div label {
    font-size: 14px;
  }
  .login div input {
    font-size: 12px;
  }
}
@media only screen and (max-width: 670px) and (min-width: 300px) {
  .header-container .header-text {
    font-size: 28px;
    top: 18%;
    left: 20%;
  }
  .header-container .icons {
    top: 32%;
    left: 34%;
  }
}/*# sourceMappingURL=style.css.map */